*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    text-decoration: none; 
    box-sizing: border-box;
} 
    
:focus,:active{outline: none;} 
a:focus,a:active{outline: none;} 
    
nav,footer,header,aside{display: block;} 
    
:root{ 
    --boss: rgb(160, 160, 160); 
    --colors: rgb(210, 198, 198); 
}  
    
input,button,textarea{font-family:inherit;} 
    
input::-ms-clear{display: none;} 
button{cursor: pointer;} 
button::-moz-focus-inner {padding:0;border:0;} 
a, a:visited{text-decoration: none;} 
a:hover{text-decoration: none;} 
ul li{list-style: none;} 
img{vertical-align: top;} 
    
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 
    
html{ 
    scroll-behavior: smooth; 
}


html , body {
    height: 100%;
    background-color: black;
}

p , h1 , h2 {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.slider {
    height: 100%;
}

.slider__layer {
    inset: 0;
    background-size: cover;
}

.container__shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.454);
    z-index: 100;
}

.slider__item1 {
    background-color: rgb(0, 0, 0);
    background-image: url(./IMG/joshua-kettle-sKOBxEb6E-E-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__item2 {
    background-color: rgb(0, 0, 0);
    background-image: url(./IMG/jack-millard-zjyP-UYI-ko-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__item3 {
    background-color: rgb(0, 0, 0);
    background-image: url(./IMG/pexels-hnoody93-58997.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}




.layer__header{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.logo{
    cursor: pointer;
    width: 200px;
}

.nav__bar {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2px;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.nav__bar p{
    padding:  0 10px 0 10px;
}

.btn__header1 {
    background-color: rgba(240, 248, 255, 0);
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}


.avtors__info {
    position: absolute;
    display: flex;
    right: 0;
    bottom: -100%;
    padding: 30px;
    width: 300px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.495);
    height: 90.9%;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: aliceblue;
    overflow: hidden;
    transition: 0.6s;
}

.title__fond{
    padding:  30px 0 30px 0;
}

.fond1 a{
    text-decoration: none;
    color: #ffffff;
}

.fond2 a{
    padding-top: 30px;
    text-decoration: none;
    color: #ffffff;
}

.avtors__info.new {
    right: 0;
    bottom: 0%;
}

.fa-xmark{
    font-size: 25px;
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0)
}

.avtor__closeBtn{
    padding: 10px;
    margin-left: 230px;
    background-color: rgba(240, 248, 255, 0)
}

.avtor__photo {
    padding: 10px;
    width: 120px;
}

.project__info {
    position: absolute;
    display: flex;
    right: 0;
    bottom: -100%;
    padding: 30px;
    width: 300px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.495);
    height: 90.9%;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: aliceblue;
    overflow: hidden;
    transition: 0.6s;
}

.project__info.open{
    bottom: 0%;
}

.project__closeBtn{
    padding: 10px;
    margin-left: 230px;
    background-color: rgba(240, 248, 255, 0)
}


.btn__avtors{
    font-size: 18px;
    padding: 5px;
    color: aliceblue;
    background-color: rgba(24, 78, 126, 0);
}

.btn__header{
    font-size: 18px;
    padding: 5px;
    color: aliceblue;
    background-color: rgba(24, 78, 126, 0);
}


.start__continer-info{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 33px;
    color: aliceblue;
    letter-spacing: 3px;
    width: 1000px;
    align-items: center;
    text-align: center;
    margin: 150px auto;
}

.start__use{
    width: 830px;
    padding: 14px;
    background-color: rgba(0, 0, 0, 0.495);
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: aliceblue;
    align-items: center;
    text-align: center;
    margin: 100px auto;
}

.fa-circle-right{
    color: aliceblue;
    padding-left: 10px;
    font-size: 20px;
}

.slider__item2{
    display: flex;
    flex-direction: column;
}

.item2__box-tool {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}


.item2__box-tool a{
    text-decoration: none;
    color: #ffffff;
}

.item2__title{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    color: aliceblue;
    margin: 20px auto;
}


.boxTool__item {
    display: flex;
    align-items: center;
    text-align: center;
    width: 330px;
    background-color: rgba(0, 0, 0, 0.573);
    padding: 14px;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: aliceblue;
    transition: 0.6s;
    cursor: pointer;
    margin: 20px;
}

.boxTool__item:hover{
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.158);
}



.fa-file {
    padding: 15px;
}

.eboat__project{
    font-size: 40px;
}

.item3__textaaaa{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: rgb(202, 0, 0);
    background-color: rgba(0, 0, 0, 0.443);
}


.container__tools-all {
    margin: 0px auto;
    width: 75%;
    padding: 12px;
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    border: 1px solid #d000ff;
}

.item2__box-tool {
    width: 395px;
    display: flex;
    scroll-behavior: auto;
    flex-direction: column;
    align-items: center;
    background-color: #000000c7;
    border-radius: 20px;
}

.box__tool-title {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    padding-bottom: 3px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px rgb(0, 0, 0);
    padding: 5px;
}

.tool__item {
    display: flex;
    padding-bottom: 5px;
    flex-direction: column;
}

.item__link {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    padding: 3px;
    padding-bottom: 1px;
    color: aliceblue;
    text-shadow: 0 0 3px rgb(0, 0, 0);
}

.item__link a{
    text-decoration: none;
    color: #ffffff;
}

.item__info {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 11px;
    padding: 2px;
    padding-bottom: 1px;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    color: aliceblue;
}



.tool__card {
    width: 340px;
    align-items: center;
    cursor: pointer;
    text-align: left;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    transition: 0.5s;
}


.card__info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    background-color: #000000c7;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    color: #ffffffc7;
    border-radius: 0 0 0 0 ;
}

.card__info-title a{
    text-decoration: none;
    color: #ffffff;
    font-size: 19px;
    transition: 0.3s;
}


.card__info-title:hover a{
    color: #009302;
}

.card__info-text {
    padding-top: 12px;
    font-size: 16px;
}

.card__info-title2 a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.card__info-title2:hover a{
    color: #00b7bd;
}

.card__info-title3 a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.card__info-title3:hover a{
    color: #b400bd;
}

.card__info-title4 a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.card__info-title4:hover a{
    color: #a9d700;
}

.card__info-title5 a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.card__info-title5:hover a{
    color: #d30000;
}


.card__info-title6 a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.card__info-title6:hover a{
    color: #0007d3;
}

.card__info-title7 a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.card__info-title7:hover a{
    color: #ffff00;
}

.card__info-title8 a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.card__info-title8:hover a{
    color: #00ff9d;
}

.card__info-title9 a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.card__info-title9:hover a{
    color: #5100ff;
}